div.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div.card{
    margin-bottom: 3%;
    text-align: center;
}

h1.cargando{
    background-image: none;
}